<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite Automation Base Project" thread-count="2" parallel="methods" >
    <test name="test Automation Base Project">
        <classes>
            <class name="GoogleTest"/>
            <class name="WikipediaTest"/>
        </classes>
    </test>
</suite>